* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

#home {
    min-height: 100vh;           
    display: flex;             
    flex-direction: column;  
    justify-content: center;  
    align-items: center;         
    padding-top: 80px;      
    
    background-image: url(images/all-mat-home.png);
    background-repeat: no-repeat;

    background-size: cover;       
    background-position: center;
}
body{
    font-family: "EB Garamond";
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-tabs {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    list-style: none;
    margin: 0;
    padding: 1.5rem 3rem; 
    
    color: white;
}

.nav-left {
    font-family: "Poppins";
    font-weight: 500;
    display: flex;
    gap: 1.5rem;                 
    flex: 1;                    
}

.nav-center {
    text-align: center;

    font-family: "EB Garamond";
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-right {
    display: flex;
    justify-content: flex-end;     
    flex: 1;                
         
}

.fa-bag-shopping{
    color: white;  
}

.navbar-tabs a {
    text-decoration: none;
    color: inherit;
}
.hero-content{
    text-align: center;
    color: white;
}
.home-quote{
    font-size: 6rem;
    font-weight: 500;
}
.shop-button{
    font-family: "Poppins";
    font-weight:400;

}